@import "../../../styles/_variables.css";

/**
 ** Component
 */
.component {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding: 15px;

    text-decoration: none;

    border: 1px solid var(--surface-back-focus);
    border-radius: 10px;

    transition: var(--transition-delay) var(--transition-type);

    outline: none;
}

.component:hover,
.component:focus {
    border-color: var(--brand-primary);
}

@media (max-width: 768px) {
    .component > button {
        display: none;
    }
}

/**
 ** Thumbnail
 */
.thumbnail {
    width: 50px;
    height: 50px;

    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    font-weight: bold;
    font-size: 16px;
    color: var(--text-invert);

    background-color: var(--brand-primary);
    border-radius: 10px;

    background-size: cover;
}

/**
 ** Name
 */
.name {
    margin-right: auto;

    font-weight: 500;
    color: var(--text-primary);
}
