:root {
    --brand-primary: rgb(76, 109, 255);
    --brand-primary-focus: rgb(101, 137, 255);
    --brand-primary-pressed: rgb(60, 95, 255);

    --brand-active: rgb(255, 80, 97);

    --semantic-error: rgb(255, 57, 43);
    --semantic-warning: rgb(255, 171, 61);
    --semantic-info: rgb(255, 171, 61);
    --semantic-success: rgb(75, 201, 44);

    --text-primary: rgb(0, 8, 51);
    --text-black: rgb(0, 0, 0);
    --text-tertiary: rgb(180, 184, 203);
    --text-invert: rgb(249, 250, 252);

    --surface-lines: rgb(216, 218, 230);
    --surface-back: rgb(240, 241, 245);
    --surface-back-focus: rgb(230, 231, 235);
    --surface-back-pressed: rgb(220, 221, 225);

    --transition-delay: 250ms;
    --transition-type: ease;
}
