@import "./_variables.css";

/**
 ** Container
 */
.container {
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 72px - 25px);

    box-sizing: border-box;
    padding: 0 15px;
}

@media (max-width: 576px) {
    .container {
        min-height: calc(100vh - 107px - 15px);
    }
}

/**
 ** AnimatedSwitch
 */
.animatedSwitch {
    position: relative;
}

.animatedSwitch > div {
    position: absolute;
    width: 100%;
}
