@import "./_variables.css";

/**
 ** Container
 */
.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;

    box-sizing: border-box;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface-back);
}
