@import "../../../styles/main.css";

/**
 ** Component
 */
.component {
    max-width: 1200px;
    width: 100%;

    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;

    background-color: var(--color-white);
    border: 1px solid var(--surface-back-focus);
    border-radius: 10px;
}

@media (max-width: 576px) {
    .component {
        padding: 25px;
    }
}

/**
 ** Header
 */
.header {
    margin-bottom: 25px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .header {
        flex-direction: column;
    }
}

/**
 ** Heading
 */
.heading {
    margin: 0;

    font-size: 18px;
    color: var(--text-primary);
}

/**
 ** Actions
 */
.actions {
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    .actions {
        margin-top: 15px;
    }
}

/**
 ** Projects
 */
.projects {
    margin-bottom: -30px;

    display: flex;
    flex-wrap: wrap;
}

/**
 ** Project
 */
.project {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
}

.project:not(:nth-child(2n + 2)) {
    margin-right: 30px;
}

@media (max-width: 1110px) {
    .project {
        width: 100%;
        margin-bottom: 25px;
    }

    .project:not(:nth-child(2n + 2)) {
        margin-right: 0;
    }
}

/**
 ** Empty
 */
.empty {
    padding: 25px 0;

    text-align: center;
    color: var(--text-secondary);
}
