@import "../../../styles/_variables.css";

/**
 ** Component
 */
.component {
    padding: 24px;

    border: 1px solid var(--surface-back-focus);
    border-radius: 10px;
}

/**
 ** Heading
 */
.heading {
    margin: 0 0 20px;

    font-weight: 500;
    font-size: 16px;
    color: var(--text-primary);
}

/**
 ** Container
 */
.container {
    display: flex;
}

/**
 ** Field
 */
.field {
    width: 100%;
}

/**
 ** Submit
 */
.submit {
    margin-left: 15px;
}
