@import "../../../styles/main.css";

/**
 ** Component
 */
.component {
    max-width: 1200px;
    width: 100%;

    box-sizing: border-box;
    padding: 40px;
    margin: 0 auto;

    background-color: var(--color-white);
    border: 1px solid var(--surface-back-focus);
    border-radius: 10px;
}

@media (max-width: 576px) {
    .component {
        padding: 25px;
    }
}

/**
 ** Header
 */
.header {
    margin-bottom: 25px;

    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    .header {
        flex-direction: column;
    }
}

/**
 ** Thumbnail
 */
.thumbnail {
    width: 42px;
    height: 42px;

    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    font-weight: bold;
    font-size: 16px;
    color: var(--text-invert);

    background-color: var(--brand-primary);
    border-radius: 10px;

    background-size: cover;
}

/**
 ** Heading
 */
.heading {
    margin: 0 auto 0 0;

    font-size: 18px;
    color: var(--text-primary);
}

/**
 ** Actions
 */
.actions {
    display: flex;
    align-items: center;
}

@media (max-width: 576px) {
    .actions {
        margin-top: 15px;
    }
}

/**
 ** Actions
 */
.action:not(:first-child) {
    margin-left: 15px;
}

/**
 ** Task
 */
.task {
    margin-bottom: 15px;
}
